@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    width: 225px;
    height: 350px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 25px;
}
.image{
    padding: 5% 5% 0% 5%;
    width: 195px;
    height: 195px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.head-text{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: hsl(218, 44%, 22%);
}
.body-text{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: hsl(216, 15%, 48%);
}